@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #7c8798;
  font-family: Overpass, sans-serif;
  background: #121417;
}
/* Utility classes */
.container {
  padding: 0 1rem;
  max-width: 37rem;
  margin: 25vh auto 0 auto;
}

.component-box {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 3rem;
  background: #252d37;
  border-radius: 2rem;
  gap: 2rem;
}

.heading-secondary {
  font-size: 3rem;
  color: #fff;
}

.text-description {
  font-size: 1.4rem;
  line-height: 1.3;
}

.center-alignment {
  align-items: center;
  text-align: center;
}

.selected {
  background: #fb7413 !important;
  color: #fff !important;
}

.hidden {
  display: none;
}

/* End of utility classes */

/* Rating Section */
.star-icon {
  background: #3e444c;
  padding: 1.2rem;
  border-radius: 50%;
  color: #fb7413;
}

.rating-box {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.rating {
  padding: 1.4rem 1.6rem;
  background: #3e444c;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.rating:hover {
  cursor: pointer;
  background: #fb7413;
  color: #fff;
}

.rating:hover + .rating:nth-child(n) {
  color: #fff;
  background: hsl(217, 12%, 63%);
}

input {
  border: none;
  border-radius: 2rem;
  background: #fb7413;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  transition: all 0.3s;
}

input:hover {
  background: #fff;
  color: #fb7413;
  cursor: pointer;
}
/* End of Rating section */

/* Thank You Section */
.illustration {
  width: 60%;
}

.summary {
  font-size: 1.3rem;
  color: #fb7413;
  background: #3e444c;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
}
/* End of thank you section */

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
